.whatsappButton {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background-color: #25d366;
  color: white;
  padding: 15px;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.whatsappButton:hover {
  transform: scale(1.1);
}
